services:
    db:
        image: postgres:18
        container_name: postgres_db
        restart: always
        environment:
            POSTGRES_USER: chapi
            POSTGRES_PASSWORD: lolomta321
            POSTGRES_DB: iglesia
        ports:
            - '5432:5432'
        volumes:
            - postgres_data:/var/lib/postgresql

volumes:
    postgres_data:
        driver: local
