---
import Layout from '../layouts/Layout.astro';
import logoBody from '../img/logo2.png'
import BigButton from '../components/BigButton.tsx';
import Conocenos from '../components/Conocenos.astro';
import CreemosEn from "../components/CreemosEn.astro";
import { showCreencias } from '../store';
---

<Layout>
	<main class='flex justify-center w-full min-h-full'>
		<div class='container flex items-center flex-col'>
			<div class='my-6'>
				<img src={logoBody.src} alt='' class='xl:h-80 h-28' />
			</div>
			<h2 class='text-logo xl:text-5xl my-6 text-2xl font-sans'>Una Iglesia, muchos lugares</h2>
			<BigButton text="Conocenos" className='my-12'/>
			<div class="hidden flex-col items-center" id="container-conocenos">
				<Conocenos />
				<div>
					<BigButton text="Creemos en ..."/>
				</div>
			</div>
			<div class={`${showCreencias.value ? "flex" : "hidden"} flex-col items-center" id="container-creencias`}>
				<CreemosEn />
			</div>
			<BigButton className='mb-9' text='Ubicaciones'/>
		</div>
	</main>
</Layout>