---
import Layout from '../layouts/Layout.astro';
import logoBody from '../img/logo2.png'
import BigButton from '../components/BigButton.astro';
import Conocenos from '../components/Conocenos.astro';
import CreemosEn from "../components/CreemosEn.astro";
import { showConocenos } from '../store';
---

<Layout>
	<main class='flex justify-center w-full min-h-full'>
		<div class='container flex items-center flex-col'>
			<div class='my-6'>
				<img src={logoBody.src} alt='' class='xl:h-80 h-28' />
			</div>
			<h2 class='text-logo xl:text-5xl my-6 text-2xl font-sans'>Una Iglesia, muchos lugares</h2>
			<BigButton text="Conocenos" className='my-12'/>
			<div class={`flex-col items-center`} id="container-conocenos">
				<Conocenos />
				<div>
					<BigButton className='my-12' text="Creemos en ..." />
				</div>
			</div>
			<div class="flex-col items-center" id="container-creencias">
				<CreemosEn />
			</div>
			<BigButton className='mb-9' text='Ubicaciones' />
		</div>
	</main>
</Layout>
<script>
	import { showConocenos } from "../store";
	import { showCreencias } from "../store";

	showConocenos.subscribe(showConocenos => {
		if (showConocenos) {
			document.getElementById("container-conocenos")?.classList.remove("hidden")
			document.getElementById("container-conocenos")?.classList.add("flex")
		} else {
			document.getElementById("container-conocenos")?.classList.add("hidden")
		}
	})

	showCreencias.subscribe(showCreencias => {
		if (showCreencias) {
			document.getElementById("container-creencias")?.classList.remove("hidden")
			document.getElementById("container-creencias")?.classList.add("flex")
		} else {
			document.getElementById("container-creencias")?.classList.add("hidden")
		}
	})
</script>