---
import Layout from '../layouts/Layout.astro';
import logoBody from '../img/logo2.png'
import BigButton from '../components/BigButton.astro';
import Conocenos from '../components/Conocenos.astro';
import CreemosEn from "../components/CreemosEn.astro";
import { showCreencias } from '../store';
---

<Layout>
	<main class='flex justify-center w-full min-h-full'>
		<div class='container flex items-center flex-col'>
			<div class='my-6'>
				<img src={logoBody.src} alt='' class='xl:h-80 h-28' />
			</div>
			<h2 class='text-logo xl:text-5xl my-6 text-2xl font-sans'>Una Iglesia, muchos lugares</h2>
			<BigButton text="Conocenos" className='my-12'/>
			<div class="hidden flex-col items-center" id="container-conocenos">
				<Conocenos />
				<!-- <div>
					<BigButton text="Creemos en ..." />
				</div> -->
			</div>
			<div class={`${showCreencias.value ? "flex" : "hidden"} flex-col items-center" id="container-creencias`}>
				<CreemosEn />
			</div>
			<BigButton className='mb-9' text='Ubicaciones' />
		</div>
	</main>
</Layout>
<script>
	import { showConocenos } from "../store";
	import { showCreencias } from "../store";

	function setCreencias() {
		showCreencias.set(true)
	}

	showConocenos.subscribe(showConocenos => {
		if (showConocenos) {
			document.getElementById("container-conocenos")?.classList.remove("hidden")
			document.getElementById("container-conocenos")?.classList.add("flex")

			const button = document.createElement("button")
			const span = document.createElement("span")
			const div = document.createElement("div")
			const div2 = document.createElement("div")
			const containerConocenos = document.getElementById("container-conocenos")

			span.setAttribute("class", "z-10 relative")
			span.innerText = "Creemos en ..."

			div.setAttribute("class", "bg-logo transition-all top-0 left-0 duration-300 absolute h-full w-0")

			button.setAttribute("class", "xl:text-3xl text-2xl relative overflow-hidden font-semibold rounded-xl text-center text-logo bg-transparent p-4 border-4 border-logo hover:text-white transition-colors duration-300 my-5 hover:bg-logo")
			button.setAttribute("id", "button-creencias")
			button.appendChild(span)
			button.appendChild(div)

			div2.appendChild(button)

			containerConocenos?.appendChild(div2)

			if (document.getElementById("button-creencias") !== null) {
				document.getElementById("button-creencias")?.addEventListener("click", setCreencias)
			}

			showCreencias.subscribe(showCreencias => {
				if (showCreencias) {
					document.getElementById("container-creencias")?.classList.remove("hidden")
					document.getElementById("container-creencias")?.classList.add("flex")
				}
			})
		}
	})
</script>