---
import Layout from "../layouts/Layout.astro";

import SeccionMaterial2 from "../components/SeccionMaterial2.astro";

---

<div id="black-screen" class="bg-black opacity-70 h-full w-full absolute z-10 hidden justify-center items-center">
    <div class="bg-orange-200 rounded-md h-3/4 w-2/3"></div>
</div>
<Layout>
    <main class="h-full w-full flex flex-col items-center">
        <div class="flex flex-col items-center">
            <h1 class="text-logo font-bold font-roboto mt-10 text-lg xl:text-2xl">Material de Estudio</h1>
            <p class="mt-5 font-roboto xl:text-xl">Accede a materiales de estudio bíblico en PDF, organizados por secciones para una consulta rápida y un aprendizaje más profundo.</p>
        </div>
        <div id="main-container-section" class="grid w-1/3 h-1/3 grid-cols-2 gap-10 grid-rows-2 justify-items-center">
            <SeccionMaterial2 cantidadPdfs="50" titleSection="Estudios del Nuevo Testamento" id="nuevo-testamento"/>
            <SeccionMaterial2 cantidadPdfs="40" titleSection="Estudios nombres de Jesus" id="nombre-jesus"/>
            <SeccionMaterial2 cantidadPdfs="4" titleSection="Discipulados" id="discipulado"/>
            <SeccionMaterial2 cantidadPdfs="52" titleSection="Cristo el fundamento en toda la Biblia" id="cristo-fundamento"/>
        </div>
    </main>
</Layout>

<script>
    const mainContainerSection = document.getElementById("main-container-section")

    const childrenDivs = mainContainerSection?.children

    for (const childrenDiv of childrenDivs!) {
        document.getElementById(childrenDiv.id)?.addEventListener("click", () => {
            const blackScreenElement = document.getElementById("black-screen")
            
            blackScreenElement?.classList.remove("hidden")
            blackScreenElement?.classList.add("flex")

            if (childrenDiv.id === "nuevo-testamento") {

            } else if (childrenDiv.id === "nombre-jesus") {

            } else if (childrenDiv.id === "discipulado") {

            } else if (childrenDiv.id === "cristo-fundamento") {

            }
        })
    }
</script>