---
import Layout from "../layouts/Layout.astro";

import SeccionBiblica from "../components/SeccionBiblica.tsx"
---

<Layout>
    <main class="h-full w-full flex flex-col items-center overflow-scroll">
        <div class="flex flex-col items-center mt-10 gap-4">
            <h1 class="text-logo font-roboto font-bold text-3xl">Materiales de Estudio Bíblico</h1>
            <p class="text-xl opacity-75">Recursos para profundizar en la Palabra de Dios y crecer en tu fe</p>
        </div>
        <SeccionBiblica section="1" titleSection="Estudios del Nuevo Testamento" descriptionSection="Profundiza en las enseñanzas y mensajes del Nuevo Testamento" cantidadMaterial="493" client:load/>
    </main>
</Layout>