---
import Layout from '../layouts/Layout.astro'

Layout
---

<Layout>
    <main class='flex flex-col items-center h-full w-full'>
        <h1 class='font-logo text-2xl text-logo font-bold mt-7'>Nuestros Niños y Niñas</h1>
        <div class='flex flex-col items-center mt-5 w-1/2'>
            <p class='text-lg font-merriweather'>
                Jesús dijo: “Dejen que los niños vengan a mí, y no se lo impidan, porque el reino de Dios es de quienes
                son como ellos.”
            </p>
            <p class='font-merriweather mt-1'>Lucas 18:16</p>
            <p class='text-lg mt-7 font-merriweather'>
                Nuestro compromiso en el ministerio infantil no es solo dejar que los niños y niñas vengan, sino
                también, tomarlos de la mano y guiarlos a Jesús.
            </p>
            <p class='text-lg font-merriweather mt-5 leading-10'>
                Además de contar con los Grupos de Bendición y Crecimiento, clases especiales los días domingos con
                dedicación especial a los niños, la iglesia incorporó el programa denominado PEPE (Programa Educación
                Pre Escolar) cuyo lema “Llevando esperanza al corazón del niño”, es precisamente nuestro mensaje a los
                hogares con hijos, que anhelan una educación que los lleve en un futuro a tener una mejor calidad de
                vida.
            </p>
            <button
                class='xl:text-3xl text-2xl relative overflow-hidden font-semibold rounded-xl text-center text-logo bg-transparent p-4 border-4 border-logo hover:text-white transition-colors duration-300 hover:bg-logo my-12'
            >
                <a href='https://pepeglobal.org/es/descargas/' target='_blank'>Pepe Network</a>
                <div class='bg-logo transition-all top-0 left-0 duration-300 absolute h-full w-0'></div>
            </button>
        </div>
    </main>
</Layout>
