---
import Layout from "../layouts/Layout.astro";
import GBC from "../components/GBC.astro"

Layout
---

<Layout>
    <main class="min-h-full justify-center w-full flex flex-col items-center">
        <h1 class="xl:text-3xl text-2xl text-logo font-bold mt-10 font-roboto">Nuestra Comunidad</h1>
        <GBC />
    </main>
</Layout>