---
import Layout from "../layouts/Layout.astro";
import SelectCity from '../components/SelectCity.astro'

Layout
---
<Layout>
    <main class="flex justify-center bg-blue-950 w-full min-h-full">
        <SelectCity />
    </main>
</Layout>