---
interface Props {text: string, className?: string}

const {text, className} = Astro.props


---

<button
    class={`xl:text-3xl text-2xl relative overflow-hidden font-semibold rounded-xl text-center text-logo bg-transparent p-4 border-4 border-logo hover:text-white transition-colors duration-300 hover:bg-logo ${className}`} id="toggleInfo">
    <span class='z-10 relative'>{text}</span>
    <div
        class={`bg-logo transition-all top-0 left-0 duration-300 absolute h-full w-0`}></div>
</button>

<script>
    import { showInformacion } from "../store";

    function informacion() {
        showInformacion.set(true)
    }

    document.getElementById("toggleInfo")?.addEventListener("click", informacion)
</script>