<button class="xl:text-3xl text-2xl relative overflow-hidden font-semibold rounded-xl text-center text-logo bg-transparent p-4 border-4 border-logo hover:text-white transition-colors duration-300 hover:bg-logo my-12" id="button-conocenos">
    <span class='z-10 relative'>Conocenos</span>
    <div class='bg-logo transition-all top-0 left-0 duration-300 absolute h-full w-0'></div>
</button>
<div
            class={"flex opacity-0 flex-col items-center w-full transition-all invisible duration-500 ease-out"} id="conocenosInfo">
            <h2 class='xl:text-4xl text-2xl text-logo font-bold font-sans'>
                ¡Queremos que nos conozcas!
            </h2>
            <p class='xl:text-2xl text-center my-6'>
                La mayoría de la gente rechaza lo que no conoce, por <b>mala información, prejuicios o temor.</b>
            </p>
            <p class='xl:text-2xl text-center my-6'>
                Aquello de <b class='italic'>"Mejor es malo conocido que bueno por conocer"</b>; es una triste
                realidad y un tremendo error de principios. Porque nunca puede ser <b class='italic'>"mejor"</b>; lo
                que se considera malo; ni el conformarse en la ignorancia puede ser garantía de una vida exitosa y
                feliz. Pero hay otro tipo de personas, entre las cuales tal vez te encontrás, que no se dejan llevar por
                los rumores ni por los prejuicios, personas íntegras y profundamente honestas consigo mismas, que no
                aceptarían ni rechazarían una información sin haberla analizado y comparado a fin de comprobar su
                veracidad.
            </p>
            <p class='xl:text-2xl my-6 text-center'>
                Si vos perteneces a este segundo grupo, te invitamos a leer nuestras creencias y a sacar tus propias
                conclusiones.
            </p>
        </div>
<script>
    import { conocenos } from "../store";

    function showConocenos() {
        conocenos.set(true)
    }

    document.getElementById("button-conocenos")?.addEventListener("click", showConocenos)

    conocenos.subscribe(conocenos => {
        if (conocenos) {
            document.getElementById("conocenosInfo")?.classList.remove("opacity-0","invisible")
            document.getElementById("conocenosInfo")?.classList.add("visible", "opacity-100")
        }
    })
</script>