<div class="h-full w-full justify-center text-center container">
    <div class="w-full mt-7 flex items-center flex-col">
        <h2 class="xl:text-xl text-lg font-medium text-logo">Grupos de Bendición y Crecimiento (GBC)</h2>
        <p class="font-normal mt-4 font-roboto xl:w-auto w-11/12 leading-[30px]">Los Grupos Bendición y Crecimiento, así llamados en nuestra iglesia,<br> fueron creados para extender el reino de Dios por medio de la bendición y <br> el crecimiento. Dentro de esta declaración general se encierra la visión de <br> estos grupos celulares, que consta de tres partes: Cada célula y cada uno <br> de sus participantes debe:</p>
    </div>
    <div class="w-full mt-7 flex items-center flex-col">
        <h2 class="text-logo font-roboto text-xl xl:text-[22px] font-bold">Crecer en la comunión con Dios.</h2>
        <p class="font-roboto font-normal xl:text-lg/9 leading-[30px] mt-4 xl:w-auto w-11/12">En primer lugar, descubriendo el pensamiento de Dios por medio de un estudio bíblico <br> inductivo, donde todos pueden responder a las preguntas, investigar y descubrir por sí mismos <br> las grandes verdades de la teología, la eclesiología, arqueología, geografía e historia bíblica. <br>
            En segundo lugar, cada uno puede crecer en la comunión con Dios por medio de la oración en <br> grupo, donde todos son aceptados y estimulados a seguir avanzando paso a paso. <br>
            En tercer lugar, para fortalecer este crecimiento, cada persona que ingresa a un grupo debe ser <br> guiada por medio de un tutor a completar dos cursos de discipulado que son esenciales para <br> el desarrollo personal: El primero es: “Los Primeros Pasos de la Vida Cristiana” y el segundo <br> “Didáktikos”.</p>
    </div>
    <div class="w-full mt-7 flex items-center flex-col">
        <h2 class="text-logo font-roboto xl:text-[22px] text-xl font-bold">Crecer en la comunión los unos con los otros.</h2>
        <p class="font-roboto font-normal xl:text-lg/9 leading-[30px] mt-4 xl:w-auto w-11/12">La comunión y el compañerismo con otros creyentes es vital no solo para nuestro crecimiento <br> sino para nuestra salvación. Porque la Palabra de Dios dice “Nosotros sabemos que hemos <br> pasado de muerte a vida” ¿cómo lo sabemos? “en que amamos a los hermanos. El que no <br> ama a su hermano, permanece en muerte.” (1 Juan 3:14) Así de simple. <br>
            La visión que Dios nos ha dado en este sentido es que debemos tener, no solo comunión (o <br> amor) los unos con los otros, sino que debemos crecer en esta comunión. <br>
            Para crecer en la comunión los unos con los otros, uno debe asistir a todas las reuniones <br> de su célula y las reuniones de la iglesia. La vida cristiana no es para solitarios, es para <br> convivir en familia.
            Cuando uno crece en la comunión con otros se hace más comprensivo y misericordioso y no <br> condena con facilidad. Aprende a callar y a escuchar con interés.</p>
    </div>
    <div class="w-full mt-7 flex items-center flex-col">
        <h2 class="text-logo font-roboto text-xl xl:text-[22px] font-bold">Crecer en número y multiplicarse en otro grupo.</h2>
        <p class="font-roboto font-normal xl:text-lg/9 leading-[30px] mt-4 mb-10 xl:w-auto w-11/12">Este objetivo debe convertirse en un estilo de vida de cada Célula <br> de bendición y crecimiento, hasta alcanzar con el evangelio de <br> Cristo al barrio, la ciudad, la provincia, el país y las naciones del <br> mundo. Porque este crecimiento permite el avance del Reino de <br> Dios para transformar, no solo a las personas, sino también a <br> toda la sociedad por medio del poder del evangelio de Jesucristo.</p>
    </div>
</div>