---
interface Props {buttonText: string}

let {buttonText} = Astro.props
---

<div class="relative" id="button-header">
    <button id="button-header" class="text-xl text-logo transition-colors duration-200 hover:text-orange-300">
        {buttonText}
    </button>
    <ul class="absolute min-w-full flex justify-center flex-col bg-white rounded-md overflow-hidden transition-all duration-200 shadow text-logo">
        <slot/>
    </ul>
</div>

<script>
    import { hoveringButton } from "../store";

    function hoveringButtonTrue() {
        hoveringButton.set(true)
    }

    function hoveringButtonFalse() {
        hoveringButton.set(false)
    }

    document.getElementById("button-header")?.addEventListener("click", hoveringButtonTrue)
    document.getElementById("button-header")?.addEventListener("mouseenter", hoveringButtonTrue)
    document.getElementById("button-header")?.addEventListener("mouseleave", hoveringButtonFalse)
</script>