---
interface Props {buttonText:string, className?: string, idElement?: string, clickListenerName?: string}

const {buttonText, className, idElement, clickListenerName} = Astro.props
---

<div class="relative" id={clickListenerName}>
    <button class="text-xl text-logo transition-colors duration-200 hover:text-orange-300">
        {buttonText}
    </button>
    <ul class=`absolute min-w-full bg-white rounded-md overflow-hidden transition-all duration-200 shadow text-logo ${className}` id={idElement}>
        <slot />
    </ul>
</div>
