---
import pastorImg from "../img/pastor.png"
import { Image } from "astro:assets"
---

<div class="w-full flex flex-col items-center mt-16">
    <h2 class="text-logo font-merriweather xl:text-[27px] text-xl font-bold text-center xl:w-80 w-52 leading-10">Nuestro querido pastor, Alberto Prokopchuk</h2>
    <Image src={pastorImg} alt="" class="xl:w-[480px] xl:h-[453px] rounded-lg mt-10 w-11/12"/>
    <p class="text-lg font-baskerville xl:w-1/3 mt-10 leading-10 text-center w-11/12">
        Nació en un hogar de colonos europeos que emigraron desde Rusia trayendo consigo su fe cristiana. A los 17 años fue llamado al ministerio, y al año siguiente ingresó al Seminario Internacional Teológico Bautista. Después de su graduación contrajo matrimonio con Elisabet Romanenghi, antes de ser enviados por la Junta de Misiones a plantar una iglesia en Puerto Iguazú, Misiones.
    </p>
    <p class="text-lg font-baskerville xl:w-1/3 mt-10 leading-10 text-center w-11/12">
        Al dejar el campo misionero pastoreó brevemente la Iglesia de Los Hermanos, en la ciudad de Córdoba, y de allí se trasladó a Posadas para hacerse cargo de la Primera Iglesia Bautista de esa ciudad hasta el año 1979. A partir de esta fecha asumió el pastorado en la iglesia Bautista de Berisso (Iglesia Bautista Pueblo Nuevo), donde ejerce actualmente su ministerio. Es padre de dos hijos: Raquel y David, y abuelo de cinco nietos.
    </p>
    <p class="text-lg font-baskerville xl:w-1/3 mt-10 leading-10 text-center w-11/12">
        Fue profesor del Instituto Bíblico en Oberá (Misiones), en el Seminario Internacional Teológico Bautista de Buenos Aires; en la Escuela de Misiones y Plantación de Iglesias (EMPI) de Córdoba, y ha dado conferencias en instituciones e iglesias en varios países de América Latina y los Estados Unidos de América. Por varios años trabajó como Director de Evangelismo de la Unión Bautista Latinoamericana, y por más de 10 años fue su Secretario Ejecutivo, y Director para América Latina de la Alianza Bautista Mundial. Ha sido presidente de la Confederación Evangélica Bautista de Argentina, presidente de la Asociación de Pastores Bautistas de Argentina; del Consejo de Pastores de La Plata y alrededores, y también del Consejo de Pastores de Berisso.
    </p>
    <p class="text-lg font-baskerville xl:w-1/3 mt-10 mb-16 text-center">
        Actualmente Presidente de UBLA (Unión Bautista Latinoamericana).
    </p>
</div>