---
import { getImage } from "astro:assets"
import type { ImageMetadata } from "astro"

interface Props {titulo: string, img: string | ImageMetadata, className?: string}

const {titulo, img, className} = Astro.props

const objetiveImg = await getImage({
    src: img,
    format: "png",
})
---

<div class="flex flex-col xl:gap-4 items-center xl:justify-between mb-10">
    <h2 class={`font-roboto text-logo font-semibold xl:text-lg text-center ${className}`}>{titulo}</h2>
    <picture class="xl:block flex justify-center mt-7">
        <img src={objetiveImg.src} alt="" class="rounded-lg xl:h-[296px] h-56 border-2 shadow border-black">
    </picture>
</div>