<div class="flex justify-center items-center bg-blue-800 w-full">
    <div class="flex h-1/2 flex-col gap-6 text-2xl items-center justify-center">
        <button>Berisso</button>
        <button>Ensenada</button>
        <button>La Plata</button>
        <button>Ciudad Autonoma de Buenos Aires</button>
        <button>Buenos Aires</button>
    </div>
</div>