---
import logoHeader from '../img/logo1.png'
import HeaderButton from '../components/HeaderButton'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Iglesia Pueblo Nuevo</title>
	</head>
	<header class='bg-orange-200 flex justify-center bg-opacity-50 w-full px-4'>
		<div class='container flex justify-between items-center'>
			<a href='/paginaIglesia/'>
				<img src={logoHeader.src} class='h-14 p-2' />
			</a>
			<div class='flex items-center gap-8'>
				<HeaderButton buttonText='Iglesia'>
					<a href='#'>Creemos en...</a>
					<a href='#'>Ubicaciones</a>
					<a href='#'>Agenda</a>
					<a href='#'>Grupos Celulares</a>
					<a href='#'>Asociacion Filantrópica</a>
					<a href='#'>Nuestro Pastor</a>
				</HeaderButton>
				<HeaderButton buttonText='Material'>
					<a href='#'>Estudios Inductivos</a>
					<a href='#'>Discipulados</a>
					<a href='#'>Otros Escritos</a>
					<a href='#'>Guias De Oración</a>
				</HeaderButton>
				<HeaderButton buttonText='Niños'>
					<a href='#'>Trabajo</a>
					<a href='#'>Material</a>
				</HeaderButton>
				<HeaderButton buttonText='Centro de desarrollo'>
					<a href='#'>Descripción</a>
					<a href='#'>Ubicación</a>
					<a href='#'>Reservas</a>
				</HeaderButton>
				<HeaderButton buttonText='Contacto'></HeaderButton>
			</div>
		</div>
	</header>
	<body>
		<slot />
	</body>
	<footer class='w-full bg-logo flex-col flex items-center'>
		<h1 class='text-white xl:text-4xl py-5'>Nos gustaría que nos contactes</h1>
	</footer>
</html>

<style>
	html,
	body {
		background-color: rgb(255, 237, 213);
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
